li {
  list-style: none;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 3px dotted orange;
  padding: 10px;
  margin: 20px;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button {
  height: 38px;
  width: 80px;
  font-family: monospace;
  border-radius: 15%;
  margin: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: monospace;
  font-size: 1.3rem;
}

input[type='checkbox']:checked + label.checkbox {
  text-decoration: line-through;
}

.item-label {
  padding: 10px;
}

.list-title {
  font-family: monospace;
}
