li {
  list-style: none;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(183, 206, 206, 0.5);
  padding: 10px;
  margin: 20px;
  position: relative;
  border-radius: 15%;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.button {
  height: 38px;
  width: 80px;
  font-family: monospace;
  border-radius: 15%;
  margin: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Regular', sans-serif;
  font-size: 3rem;
}

input[type='checkbox']:checked + label.checkbox {
  text-decoration: line-through;
}

.item-label {
  padding: 10px;
}

.list-title {
  font-family: monospace;
}
