.add-form {
  display: flex;
  font-family: monospace;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 500px;
}

.add-form input {
  height: 30px;
  width: 200px;
}
