.main-container {
  min-height: 100vh;
}

body {
  background-image: url('../assets/chalkboard-menu-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
}
